.ug-comments
  a:hover
    text-decoration: none
  .commentlist
    list-style-type: none
    margin: 0
  .comment-body
    padding-top: 0.75em
    border-top: 1px solid #DDD
  .comment-commenter
    padding-top: 0.75em
    border-top: 1px solid #DDD
    color: $textColor
    font-size: 90%
    letter-spacing: 0.2em
    text-transform: uppercase
  .comment-date
    font-size: 90%
    font-style: italic
  .comment-body
    clear: both
