// Site Name: Upstairs Garden
// Author: The Upstairs Garden Team
// Stylesheet: Main Stylesheet

@import "styles/variables"
@import "styles/themes/orange/variables"
@import "compass"
@import "bootstrap"
@import "bootstrap-responsive"
@import "styles/layout"
@import "styles/brand"
@import "styles/nav"
@import "styles/intro"
@import "styles/posts"
@import "styles/themes/orange/theme"

// Figures
.ug-figure-extend
  width: 130%
  max-width: 130%
  padding: 10px
  background: #FFF
  .ug-figure-description
    padding: 10px 5px 5px
    font-style: italic
    letter-spacing: 0.1em
