// Site Name: Upstairs Garden
// Author: The Upstairs Garden Team
// Stylesheet: Main Stylesheet

@import "styles/variables"
@import "styles/themes/orange/variables"
@import "compass"
@import "bootstrap"
@import "bootstrap-responsive"
@import "styles/layout"
@import "styles/brand"
@import "styles/categories"
@import "styles/comments"
@import "styles/figures"
@import "styles/modules"
@import "styles/nav"
@import "styles/intro"
@import "styles/posts"
@import "styles/recentposts"
@import "styles/search"
@import "styles/sidebar"
@import "styles/sitemeta"
@import "styles/widget"
@import "styles/themes/orange/theme"

body
  -webkit-font-smoothing: antialiased
h2, h3, h4, h5, h6
  margin: 20px 0 8px 0
h1
  +text-shadow(2px 2px 0px $bodyBackground, 4px 4px 0px rgba(0,0,0,0.15))
h2.handwritten
  margin: 0
  font-weight: 200
  font-family: Sacramento
  +text-shadow(1px 1px 0px $bodyBackground, 2px 2px 0px rgba(0,0,0,0.1))
h3
  font-size: 100%
  line-height: 1
p
  margin-bottom: 2em
hr
  border: 0
  border-bottom: 1px solid #FFF
hr.ug-fancy-hr
  height: 20px
  border: 0
  background-image: url("../images/hr.svg")
  background-position: 50% 50%
.media-object
  max-width: 72px
