body
  background-image: url("../images/ug-bg.jpg")
  background-position: -150%
h1, h2, h3, h4, h5, h6
  font-family: "Crete Round", Times, serif
a
  color: #543F6B
.ug-brand
  background-color: $ugPrimaryColor
.ug-nav-main li a
  color: $ugPrimaryColor
.ug-intro
  color: lighten($textColor, 20%)
  strong
    color: lighten($textColor, 15%)
